@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

*  {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    border-style: none;
    list-style-type: none;
}

:root {
    ---cor1: #D6000D;
    ---font1: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh; 
    font-family:var(---font1)
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
}

header > h1 {
    font-style: italic;
    font-size: 1.7em;
    font-weight: bold;
    color: var(---cor1);
}

header > h1::after {
    content: '.';
    color: black;
    border-radius: 90px 
}

nav {
    display: flex;
    font-weight: bold;
    gap: 10px;
}

nav > a {
    padding: 5px;
    color: black;
}

.login {
    background-color: var(---cor1);
    border-radius: 6px;
    color: #ffff;
    padding: 4px 20px;
}

main {
    margin-bottom: 40px;
    margin-top: 40px;
}

section {
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    margin: 25px auto 55px auto;
    padding: 15px;
}

img {
    max-width: 30%;
    min-width: 40%;
}

.dentro-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}  

.conteiner-text {
    font-weight: 900;
    font-size: 1.1em;
}

.conteiner-title {
   font-size: 2.3em;
   font-weight: bolder;
   color: var(---cor1);
   padding-bottom: 20px;
}

button.botao-pricipal {
    background-color: var(---cor1);
    color: rgba(255, 255, 255, 0.925);
    font-weight: bolder;
    font-size: 15px;
    border-radius: 8px;
    width: 200px;
    height: 29px;
    align-self: flex-start;
}

button:hover {
    background-color: rgba(233, 109, 92, 0.897);
    transition: 0.5s;
}

.dentro-segundo-conteiner {
    line-height: 32px;
}

.fa-check-circle::before{
 content: "\f058\00A0\00A0" !important;
}

.fa, .fas {
    color: var(---cor1);
}

.call {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: 36px 0px 40px 0px;
    gap: 10px;
}

#title-button-p {
    font-weight: bold; 
}

.botao-celular {
    width: 190px;
    height: 35px;
    background-color: var(---cor1);
    color: #ffff;
    border-radius: 7px;
    font-weight: bold;
}

.dentro-call {
    display: flex;
    gap: 8px;
}

#numero {
   background-color: #ddd;
   border-radius: 8px;
   width: 174px;
   padding-left: 10px;
   font-weight: bold;
}

/* Remover setas / spinners do
Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

div.comentario {
    background-color: #ddd;
    max-width: 400px;
    height: 156px; 
    border-radius: 10px;
    padding: 10px;
    position: relative; 
}

.comentario > div {
    position: absolute;
    top: 10%;
    right: 81%;
} 

.descricao {
    margin-left: 71px;
}
.paragrafo-comentario {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

strong {
    font-size: 16px;
}

footer {
    background-color: rgb(31, 33, 37);
    color: #ddd;
    padding: 10px;
}

.conteiner {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    gap: 10px;
}

.footer-wraper {
    margin: 5px -4px 0px;
    padding: 10px; 
}

.footer-title {
    color: #ffff;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-wraper ul li a {
    line-height: 30px;
}

a {
    color: #ddd;
}

.icons {
    padding: 6px;
}

.icons:hover{
    color: #ffff;
}

@media (max-width: 824px) {
    header {
        display: flex;
        flex-direction: column;
    }
    header > h1 {
      font-size: 5vh;
    }
    section {
        display: flex;
        flex-direction: column;
    }
    img {
        padding-bottom: 25px;
    }
    
    button.botao-pricipal {
        margin: auto;
        margin-bottom: 20px;
        height: 40px;
    }
    
    .fora-conteiner {
      display: flex;
      flex-direction: column-reverse;
    }
   
    .dentro-segundo-conteiner > ul {
        text-indent: 15%;
    }
   
   .dentro-call {
       flex-direction: column;
       margin: 0 auto;
       gap: 9px;
   }

   #numero {
       height: 40px;
       font-weight: bold;
       font-size: 16px;
       padding-left: 15px;
    }

   .botao-celular  {
      width: 176px;
      height: 40px;
    }

    section.text-comment {
        gap: 25px;
    }

    div.comentario {
        max-width: 367px;
        height: 165px;
    }

    .paragrafo-comentario {
        font-size: 20px;
    }
    .conteiner {
        display: flex;
        flex-direction: column;
        max-width: 265px;
    }
     
    div#footer-codar {
        font-size: 21px;
        text-align: center;
    }

    h3#footer-title {
        font-size: 32px;
    }
}